<!DOCTYPE html>
<html>
  <head>
    <title>Functions</title>
  </head>
  <body>
    <h1>Import Data</h1>
    <div style="display:none;height:30px;line-height: 30px;width: 150px;text-align: center;border:1px solid lightgray">Import Data</div>
  </br>
  <h4 style="display: inline-block;">CSV File Path: </h4><label style="display: inline-block;margin-left: 5px;">{{file_path}}</label>
</br>
</br>
<h4 style="display: inline-block;">Records Inserted: </h4><label style="display: inline-block;margin-left: 5px;">{{insert_count}}</label>
  </body>
</html>
